{{ ansible_managed | comment }}

[Unit]
Description=pretix runperiodic service
After=network.target

[Service]
User={{ pretix__user }}
Group={{ pretix__group }}
Environment="VIRTUAL_ENV={{ pretix__data }}/venv"
Environment="PATH={{ pretix__data }}/venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart={{ pretix__data }}/venv/bin/python3 -m pretix runperiodic
WorkingDirectory={{ pretix__data }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
